@import "./variables.scss";

.header {
  position: fixed;
  top: 0;
  @include flex-center(row, space-between, center);
  width: 100%;
  height: $header-height;
  background-color: $white;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  padding: 0 4 * $factor;
  z-index: 100;
  .header-link {
    @include flex-center(row, flex-start, center);
    width: 20%;
    text-decoration: none;
    .title {
      font-size: $font-medium;
      color: $brand;
      margin: 0;
    }
    .logo {
      width: 6 * $factor;
      height: 6 * $factor;
      margin-right: 2 * $factor;
    }
  }
  .navbar {
    @include flex-center(row, space-around, center);
    width: 50%;
    .link {
      font-size: $font-small;
      color: $brand;
      text-decoration: none;
    }
  }
  .secondary {
    width: 30%;
    @include flex-center(row, flex-end, center);
  }
}

@media screen and (min-width: 72rem) and (max-width: 256rem) {
  .header {
    padding: 0 8 * $factor;
  }
}
