@import "./variables.scss";

.index-page .wrapper .container {
  width: 100%;
  max-width: 200rem;
  @include flex-center(row, space-around, center);
  .content {
    max-width: $content-width * 1.5;
    @include flex-center(row, space-around, center);
    flex-wrap: wrap;
    .article-card {
      position: relative;
      display: inline-flex;
      width: calc(33.3% - 3rem);
      border-radius: $factor;
      margin: 1rem 0;
      box-shadow: 8px 8px 20px rgb(65 65 65 / 20%);
      transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
      &:hover {
        transform: translateY(-8px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 0 0 transparent;
      }
      .link {
        display: inline-block;
        color: $brand;
        width: 100%;
        .card-picture {
          display: inline-block;
          width: 100%;
          margin: 0;
          padding: 0;
          aspect-ratio: 16 / 9;
        }
        .image-placeholder {
          background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
          width: 100%;
          aspect-ratio: 16 / 9;
        }
        .title {
          font-size: $font-small;
          padding: 4 * $factor;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (min-width: 50rem) and (max-width: 80rem) {
  .index-page .wrapper .container .content {
    .article-card {
      width: calc(50% - 2rem);
      .link {
        .title {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          width: calc(100% - 6rem);
          box-sizing: content-box;
        }
      }
    }
  }
}

@media screen and (min-width: 80rem) and (max-width: 256rem) {
  .index-page .wrapper .container .content {
    .article-card {
      width: calc(33.3% - 3rem);
    }
  }
}

@media screen and (max-width: 50rem) {
  .index-page .wrapper .container .content {
    padding: 0 4 * $factor;
    @include flex-center(row, center, center);
    .article-card {
      width: calc(100% - 2rem);
      .link {
        .title {
          width: calc(100% - 2rem);
          margin: 0;
          padding: 4 * $factor 2 * $factor;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          box-sizing: content-box;
        }
      }
    }
  }
}
